# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit
.streamlit/secrets.toml
.streamlit/

# Config & Secrets
config/settings.toml
config/*.toml
*.env
.env

# OS Files
.DS_Store
Thumbs.db

# Reports
*.pdf

# Virtual Environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/
